*{
	margin:0px;
}
#pic1,#pic2,#pic3,#pic4{
	width:140px;
	height:140px;
	position:absolute;
}
#pic1{
	animation:pic1 10s infinite alternate;
}
#pic2{
	animation:pic2 10s infinite alternate;
	left:90%;
}
#pic3{
	animation:pic3 10s infinite alternate;
	top:80%;
}
#pic4{
	animation:pic4 10s infinite alternate;
	top:80%;
	left:90%;
}

@keyframes pic1{
	0%{left:0%;top:0%;}
	25%{left:90%;top:0%;}
	50%{left:90%;top:80%;}
	75%{left:0%;top:80%;}
	100%{left:0%;top:0%;}
}
@keyframes pic2{
	0%{left:90%;top:0%;}
	25%{left:90%;top:80%;}
	50%{left:0%;top:80%;}
	75%{left:0%;top:0%;}
	100%{left:90%;top:0%;}
}
@keyframes pic3{
	0%{left:90%;top:80%;}
	25%{left:0%;top:80%;}
	50%{left:0%;top:0%;}
	75%{left:90%;top:0%;}
	100%{left:90%;top:80%;}
}
@keyframes pic4{
	0%{left:0%;top:80%;}
	25%{left:0%;top:0%;}
	50%{left:90%;top:0%;}
	75%{left:90%;top:80%;}
	100%{left:0%;top:80%;}
}