@charset "UTF-8";
body{
				background:url(C:/Users/TR/Documents/HTML/pic/archlinux3.jpg) center center;
				background-size:cover;
				margin:0;

				padding:0;

				position:relative;
				/*相对定位*/
			}

html,body{
				height:100%;
				color:#ffffff;
				font-family:sans-serif;
			}

#container{
				width:100%;
				/*横向扩展*/
				text-align:center;
				position:absolute;
				/*container变为绝对定位*/
				top:10%;

				transform:translateY(-30%);
				/*container 整体向上移*/
			}
h1{
	font-size:54px;
	text-transform:uppercase;
	margin-bottom:20px;
}
p{
	font-size:21px;
	margin-bottom:40px;
}
a{
	font-size:18px;
	color:#fff;
	border:2px solid #fff;
	border-radius:3px;
	padding:10px 100px;
	text-decoration:none;
}
