<!DOCTYPE HTML>
<html>
<head>
	<title>divLayout</title>
	<meta charset="UTF-8">
	<style type="text/css">
	body{
		margin:0px;
	}
	div#container{
		width:100%;
		height:950px;
		background-color: darkgray;
	}
	
	div#head{
		width:100%;
		height:100px;
		background-color: aqua;
	}
	div#leftpart{
		width:30%;	
		height: 80%;
		background-color:aquamarine;
		float:left;
	}
	div#rightpart{
		width:70%;
		height:80%;
		background-color:blueviolet;
		float:left;
	}
	div#foot{
		width:100%;
		height:10%;
		background-color: black;
		clear:both;
	}
	</style>
</head>
<body>
	<div id="container">
		<div id="head">head</div>
		<div id="leftpart">leftPart</div>
		<div id="rightpart">rightpart</div>
		<div id="foot">foot</div>	
	</div>
</body>
</html>